<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Steam Profiler Stealer</title>
</head>
<body>
<h1>OLD TEST PAGE !!! DOES NOT WORK !!! (use frontend)</h1>
<input type="text" placeholder="your cookie" class="cookie">
<button class="save-cookie">save cookie</button>

<script>
    let cookie = localStorage.getItem('steamCookie');
    let ws = null;

    if (cookie) {
        newWebsocket();
    }

    function send(msg) {
        if (ws) {
            ws.send(JSON.stringify(msg));
        }
    }

    function newWebsocket() {
        ws = new WebSocket('ws://localhost:8000/ws');

        ws.addEventListener('open', () => {
            console.log('websocket opened!');
            send({Cookie: {cookie}})
        });

        ws.addEventListener('close', c => {
            console.log('websocket closed', c);
            newWebsocket();
        });

        ws.addEventListener('error', e => {
            console.error(e);
        })

        ws.addEventListener('message', ({data}) => {
            const j = JSON.parse(data);
            console.log(j);

            const name = Object.keys(j)[0];

            console.log(name, j[name]);
        });
    }


    document.querySelector('.save-cookie').addEventListener('click', () => {
        cookie = document.querySelector('.cookie').value;
        localStorage.setItem('steamCookie', cookie);
        newWebsocket();
    });
</script>
</body>
</html>